html {
    background-color:lightgrey;
}



body {
    background-image: url('img/glifo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;    
}

section h3{
    color:steelblue ;
}

nav li a {
    text-decoration: none;
    color:burlywood;
  }
h1 {
   text-align: center;
   color:blue;
}

h2 {
    text-align: center;
    color:steelblue
}


#toggle-btn {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
  
 #toggle-btn:hover {
    background-color: #0062cc;
}
  
 .hidden {
    display: none;
}