body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2;
  background-color: black;
}

.navbar {
  border: 1px solid rgb(211, 211, 28);
    border-radius: 5px;
}

.my-content {
  margin: 20px; 
  padding: 0;
  
}
.my-content strong {
  color: rgb(211, 211, 28);
}

.my-content p {
  margin-bottom: 2px;
}
.decorationunder {
  border-top: 3px solid rgb(211, 211, 28);
  width: 10rem;
  padding: 0;
 
}
.principal-content {
 display: flex;
align-items: center;
background-color: black;
color: rgb(255, 255, 255);
padding-left: 120px;
}

main {
  display: block;
}
.my-content {
  text-align: start; 
  display:flexbox ;
  flex-direction:column;
  
}



.imagen {
  flex: 1;
  text-align: center;
}


.principal-imagen img {
  display: flex;
  width: 25rem;
  height: 25rem; 
  background-size: cover;
  border-radius: 10%;
  align-items: center;
  align-content: center;
  margin: 40px;

}

.Contacto {
  margin-top: 20px;
  text-align: center;
}

.Contacto a {
  margin-right: 10px;
  font-size: 40px;
  color: #11b65b;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;

}
.center-container a i.bi.bi-linkedin {
    font-size: 30px;
}
.center-container a i.bi.bi-github {
    font-size: 30px;
}
.center-container a i.fa-brands.fa-upwork{
    font-size: 30px;
}
section {
    padding: 60px 0;
}

footer {
    margin-top: auto;
}


.container-logo {
    max-width: 100px; 
    margin: 0 auto; 
    padding: 10px; 
}

.logo-container {
    top: 5px; 
    left: 5px; 
}

.logo-container img {
    width: 70px; 
    height: auto; 
}


[data-aos] {
    opacity: 0; 
    transition: opacity 1s ease; 
  }
  
  [data-aos].aos-animate {
    opacity: 1; 
  }


#Proyectos {
    background-color: black;  
    padding: 20px;
    .container strong{
      color: rgb(211, 211, 28);
    }
  
    .container {
      max-width: 800px;  
      margin: 0 auto;  
      color: white;
  
      #acercaDeMiTexto {
        font-size: 16px;
        line-height: 1.5;  
        margin-bottom: 20px; 
      }
  
      ul {
        list-style-type: none;  
        padding: 0;  
  
        b {
          display: block; 
          margin-bottom: 10px;  
        }
  
        li {
          font-size: 14px;  
          margin-bottom: 8px;  
        }
      }
    }
}

.buttom li{
  padding: 4px 8px;
  background-color:rgb(211, 211, 28) ;
  border-radius: 1rem;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 4rem;
  width: 20%;
  cursor: pointer;
  text-align: center;
}
.buttom li:hover {
  background-color: #e0e0e0;
}
.buttom ul{
  display: flex;
}
$proyecto-card-width: 100%; 
$proyecto-card-margin: 10px; 
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.proyecto-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out;


  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 400px; 
    height: 200px;
    object-fit: cover; 
    border-radius: 10px 10px 0 0;
  }

  .descripcion-proyecto {
    padding: 15px;
    h5 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      color: #555;
    }
  }

  .botones-proyecto {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(211, 211, 28);
    a {
      padding: 8px 20px;
      border-radius: 50%;
      text-decoration: none;
      margin-right: 10px;
      font-size: 30px;
      color: #11b65b;
      background-color: black;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: #bbb;
      }
    }  
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-card-animation {
  animation: fadeIn 1s ease-out;
}

.fa-python:before {
  font-size: 40px;
  color: #11b65b;
  padding: 20px;
}
.fa-html5:before {
  font-size: 40px;
  color: red;
  padding: 20px;
}
.fa-js:before {
  font-size: 40px;
  color: yellow;
  padding: 20px;
}
.fa-css3:before {
  font-size: 40px;
  color: blue;
  padding: 20px;
}

.bi-filetype-tsx:before{
  font-size: 40px;
  color: rgb(0, 128, 160);
  padding: 20px;
}
.bi-filetype-scss{
  font-size: 40px;
  color: rgba(236, 7, 87, 0.573);
  padding: 20px;
}
.fa-bootstrap:before {
  font-size: 40px;
  color: rgb(137, 41, 106);
  padding: 20px;
}
.fa-php:before {
  font-size: 40px;
  color: rgb(0, 127, 247);
  padding: 20px;
}
.fa-java:before {
  font-size: 40px;
  color: rgb(255, 85, 0);
  padding: 20px;
}
.bi-filetype-sql{
  font-size: 40px;
  color: rgb(212, 255, 0);
  padding: 20px;
}
.fa-git:before {
  font-size: 40px;
  color: rgb(255, 85, 0);
  padding: 20px;
}
.Spring {
  margin-bottom: 20px;
  padding-left: 20px;
}
.fa-angular:before {
  font-size: 40px;
  color: rgb(255, 85, 0);
  padding: 10px;
}
.fa-npm:before {
  font-size: 40px;
  color: rgb(255, 85, 0);
  padding: 10px;
}
.fa-database:before {
  font-size: 40px;
  color: rgb(255, 4, 0);
  padding: 10px;
}
.fa-e:before {
  font-size: 40px;
  color: rgb(217, 41, 41);
  padding: 10px;
}
.fa-a:before {
  font-size: 40px;
  color: rgb(217, 41, 41);
  padding: 10px;
}
.Phpserver {
  padding: 15px;
}
.eslint {
  padding: 15px;
}
.tabnine {
  width: 70px;
  height: 70px;
  padding: 15px;
}
.Quokka {
  width: 70px;
  height: 70px;
  padding: 15px;
}
.prettier {
  width: 70px;
  height: 70px;
  padding: 15px;
}
.bi-code {
  font-size: 60px;
  color: rgb(181, 10, 249);

}
.bi-code-slash {
  font-size: 60px;
  color: rgb(181, 10, 249);
  padding: 10px;
}
.code {
  text-align: end;
}
.typescript {
  padding: 0;
}

#Habilidad {
    background-color:black;  
    padding: 20px;  
    color: white;
  
    .container {
      max-width: 800px;  
      margin: 0 auto;
     
  
      #LenguajeLabel {
        font-size: 16px;
        line-height: 1.5;  
        margin-bottom: 20px; 
      }
  
      ul {
        list-style-type: none;  
        padding: 0;  
  
        b {
          display: block; 
          margin-bottom: 10px;  
        }
  
        li {
          font-size: 14px;  
          margin-bottom: 8px;  
        }
      }
    }
}

#Contacto {
  background-color: black;

}